body {
  background-color: white;
  font-family: Helvetica, Arial, sans-serif;
  color: #666;
  font-size: 15px;
  line-height: 22px; }

.fl {
  float: left; }

.fr {
  float: right; }

header {
  clear: both;
  overflow: auto;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd; }
  header .logo {
    margin: 10px; }

ul {
  margin: 0;
  padding: 0; }

ul li, ul dt, ul dd, ol li, ol dt, ol dd, dl li, dl dt, dl dd {
  margin: 0;
  padding: 0; }

ul dd, ol dd, dl dd {
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase; }

span.label, dt {
  color: #BCBEC0;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px; }

select {
  color: #666;
  clear: both;
  width: 100%;
  margin-bottom: 20px;
  font-size: 16px;
  padding: 6px;
  font-weight: bold; }

select, option {
  text-transform: uppercase; }

option {
  font-size: 11px;
  margin-bottom: 5px;
  padding-bottom: 5px; }

optgroup {
  font-size: 13px; }

iframe {
  min-height: 780px;
  background-color: transparent;
  border: 2px solid #ddd; }

.reselect__list {
  display: none;
  border-top: 1px solid #dedede; }

.reselect {
  height: auto;
  width: 100%;
  border: 1px solid #a0a0a0;
  border-radius: 3px;
  position: relative;
  margin-bottom: 20px; }
  .reselect.interact {
    border: 1px solid #5f5f5f; }
    .reselect.interact .reselect__list {
      display: block; }
  .reselect .reselect__label {
    padding: 5px;
    background-color: #dedede; }
  .reselect .reselect__option {
    text-transform: uppercase;
    padding: 6px; }
    .reselect .reselect__option:hover {
      cursor: pointer;
      color: #fff;
      background-color: #08B0EA; }

.reselect .item--active {
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px; }
  .reselect .item--active:hover {
    cursor: pointer; }

.reselect__flippy {
  font-weight: bold;
  position: absolute;
  top: 15px;
  right: 8px; }
