$body--dark: #666;
$body--light: #BCBEC0;
$borders: #ddd;
$antiblue: #08B0EA;

body {
  background-color: white;
  font-family: Helvetica, Arial, sans-serif;
  color: $body--dark;;
  font-size: 15px;
  line-height: 22px;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

header {
  clear: both;
  overflow: auto;
  margin-bottom: 20px;
  border-bottom: 1px solid $borders;
  .logo {
    margin: 10px;
  }
}

ul {
  margin: 0;
  padding: 0;
}

ul, ol, dl {
  li, dt, dd {
    margin: 0;
    padding: 0;
  }
  dd {
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
  }
}

span.label, dt {
  color: $body--light;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
}

select {
  color: $body--dark;
  clear: both;
  width: 100%;
  margin-bottom: 20px;
  font-size: 16px;
  padding: 6px;
  font-weight: bold;
}

select, option {
  text-transform: uppercase;
}

option {
  font-size: 11px;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

optgroup {
  font-size: 13px;
}

iframe {
  min-height: 780px;
  background-color: transparent;
  border: 2px solid $borders;
}

// reselect

.reselect__list {
  display: none;
  border-top: 1px solid #dedede;
}

.reselect {
  height: auto;
  width: 100%;
  border: 1px solid #a0a0a0;
  border-radius: 3px;
  position: relative;
  margin-bottom: 20px;
  &.interact {
    border: 1px solid #5f5f5f;
    .item--active {
    //  display: none;
    }
    .reselect__list {
      display: block;
    }
  }
  .reselect__label {
    padding: 5px;
    background-color: #dedede;
  }
  .reselect__option {
    text-transform: uppercase;
    padding: 6px;
    &:hover {
      cursor: pointer;
      color: #fff;
      background-color: $antiblue;
    }
  }
}

.reselect .item--active {
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  &:hover {
    cursor: pointer;
  }
}

.reselect__flippy {
  font-weight: bold;
  position: absolute;
  top: 15px;
  right: 8px;
}